* {
    font-family: Roboto;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.hero {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 8px 96px;
    padding-bottom: 48px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    gap: 16px;
}

a,
.hero-text,
.sign-up {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.header-links a {
    padding-right: 16px;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
}

.hero-head {
    font-size: 48px;
    font-weight: 900;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    gap: 16px;
}

.sign-up {
    background-color: #3882f6;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    padding: 8px 24px;
    margin-top: 8px
}

.placeholder-image {
    padding: 100px 200px;
    background-color: grey;
}

